################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/report-builder - Backup.csproj
/report-builder.csproj
/reports
